<ng-container *ngIf="session$ | async as session">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{session.label}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true" class="ion-padding">
    <ion-button *ngIf="session.ownerEmail == userEmail" expand="block" (click)="showActions(session)">Show actions</ion-button>
    <ion-item [formGroup]="form">
      <div *ngIf="session.ownerEmail == userEmail">
        <ion-label position="floating">Task Name</ion-label>
        <ion-input formControlName="taskName"></ion-input>
      </div>

      <div *ngIf="session.ownerEmail != userEmail">
        <ion-label>{{session.currentTask.label}}</ion-label>
      </div>
    </ion-item>
    <div>
      <app-voting-cards (voteChange)="onVoteChange($event, session)"></app-voting-cards>
    </div>
    <app-result-table [activeRound]="session.currentTask.currentRound" [pastRounds]="session.currentTask.rounds"></app-result-table>
  </ion-content>
</ng-container>
