<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Service Desk</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Hello here you can find some contact points to our support. Feel free to reach us.
    </ion-card-content>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>+43 9984 998 21 (21)</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
      <ion-label>Write us a message</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
