<ion-header *ngIf="session$ | async as session">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poker-app"></ion-back-button>
    </ion-buttons>
    <ion-title>History of {{session.label}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="session$ | async as session">
  <ion-card class="ion-padding" *ngFor="let task of session.tasks">
    <div class="tasks-header">
      <h4>{{task.label}}</h4>
      <h4>Result: {{task.finalResult}}</h4>
    </div>
    <app-result-table [pastRounds]="task.rounds"></app-result-table>
  </ion-card>
</ion-content>
