<app-header *ngIf="!(isMobile | async)">
  <app-main-portal-header></app-main-portal-header>
</app-header>

<ion-header *ngIf="(isMobile | async)">
  <ion-toolbar color="primary">
    <ion-title>My Contracts</ion-title>
  </ion-toolbar>

  <app-tab-switcher #panel>
    <app-tab-switcher-label
            label="Health"
            [selected]="(panel.currentIndex | async) === 0"
            (click)="panel.activateIndex(0)"
    ></app-tab-switcher-label>
    <app-tab-switcher-label
            label="Car"
            [selected]="(panel.currentIndex | async) === 1"
            (click)="panel.activateIndex(1)"
    ></app-tab-switcher-label>
  </app-tab-switcher>

</ion-header>

<ion-content>

  <ion-grid fixed *ngIf="!(isMobile | async)">
    <ion-row>
      <ion-col size="9">
        <section>
          <div class="header">
            <h1>My Health</h1>
            <div class="spacer"></div>
            <ion-button color="secondary">Raise Claim</ion-button>
          </div>
          <app-contract-card
            *ngFor="let record of healthContracts"
            [contract]="record"
            (contractClicked)="openHealthContractDetail($event)"
          ></app-contract-card>
        </section>

        <section>
          <div class="header">
            <h1>My Insurance</h1>
            <div class="spacer"></div>
            <ion-button color="secondary">Raise Claim</ion-button>
          </div>
          <app-contract-card
            *ngFor="let record of carContracts"
            [contract]="record"
            (contractClicked)="openHealthContractDetail($event)"
          ></app-contract-card>
        </section>
      </ion-col>
      <!-- ASIDE SHOULD BE INCLUDED -->
      <ion-col>
        ASIDE
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid fixed *ngIf="(isMobile | async)">
    <ion-col>
      <app-tab-group [showTabs]="false" [controller]="tabController">
        <app-tab label="Health">
          <section>
            <app-contract-card
              *ngFor="let record of healthContracts"
              [contract]="record"
              (contractClicked)="openHealthContractDetail($event)"
            ></app-contract-card>
          </section>
        </app-tab>
        <app-tab label="Car">
          <section>
            <app-contract-card
              *ngFor="let record of carContracts"
              [contract]="record"
              (contractClicked)="openHealthContractDetail($event)"
            ></app-contract-card>
          </section>
        </app-tab>
      </app-tab-group>
    </ion-col>

  </ion-grid>
</ion-content>
