


section {
  margin-top: 2rem;

  .header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;

    h1 {
      color: #1B1B1B;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      margin: 0;
    }
  }
}





ion-content {
  --background: #F3F6FC;
}
