<ion-content class="ion-text-center ion-padding">
    <div style="height: 100%;justify-content: center;display: flex;flex-direction: column">
        <ion-text class="ion-text-center" color="primary">
            <h1>Welcome in Scrum Poker</h1>
        </ion-text>
        <form [formGroup]="loginForm">
            <ion-item class="ion-text-center">
                <ion-label>Email:</ion-label>
                <ion-input formControlName="email"></ion-input>
            </ion-item>
            <ion-item class="ion-text-center">
                <ion-label>Name:</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
        </form>
        <ion-button class="btn" color="success" [disabled]="!loginForm.valid" (click)="submit()">Enter</ion-button>
    </div>
</ion-content>
