<ion-tabs *ngIf="isMobile">

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="contracts">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>My Contracts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<ng-container *ngIf="!isMobile">
  <ion-router-outlet [animated]="false"></ion-router-outlet>
</ng-container>
