<ion-header>
  <ion-toolbar>
      <ion-title>Sessions</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="onCreateSessionButtonClick()">Create session</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
    <ion-checkbox>Show old</ion-checkbox>
    <ion-list>
        <ion-list-header>All sessions</ion-list-header>
        <ion-item *ngFor="let session of sessions">
          <ion-label>{{session.label}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
